.font-m20eb{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.teklif-main{
    align-items: center;
    text-align: center;

}

.secimler{
    font-family: 'ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
  gap: 42px;
  max-width: 1000px;


}

.secimler button{
    color: var(--smoky-black);
    border: none;
    background-color: transparent;
    border: solid 1px var(--smoky-black);
    display: flex;
    align-items: center;
    border-radius: 24px;
    padding: 12px 24px;
    width: hug(130px);
    height: hug(48px);
    gap: 8px;
    transition: all 0.2s ease;
    text-decoration: none;
}

.abari{
    display: flex;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;

}

.iletisim-second{
    
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    border: solid 1px var(--smoky-black);
    border-radius: 16px;
    padding: 35px;
    margin-top:6% ;
    margin-bottom:6% ;
    justify-items: center;

}

.iletisim-second input{
    min-width: 500px;
    border-bottom: solid 1px var(--smoky-black);
      border: none;
  outline: none;
}
 big input{
    min-width: none;
 }

